body {
   background-color: #f9f7fe;
   font-family: "Roboto", sans-serif;
}

.weather-app {
   border: 2px solid red;
   /* For debugging */
   background: white;
   max-width: 600px;
   margin: 45px auto;
   box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
   border-radius: 16px;
   padding: 30px;
}

.search-form-input {
   background-color: #f9f7fe;
   border: none;
   border-radius: 6px;
   width: 80%;
   font-size: 16px;
   padding: 15px 20px;
}

.weather-info {
   text-align: center;
}

.weather-temp {
   font-size: 2em;
   text-align: center;
   margin-top: 10px;
}

.weather-info img {
   width: 100px;
   height: auto;
}
